<table style="text-align: left; margin: auto;">
	<tr>
		<td><label for="preg" class="rem">Pregunta:</label></td>
		<td><input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p></td>
	</tr>
	<tr>
		<td><label for="resp" class="rem">Respuesta:</label></td>
		<td><input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p></td>
	</tr>
	<tr>
		<td><label for "tem" class="rem">Tema:</label></td>
		<td><select name="quiz[tema]">
			<option value="Otro" <%if (quiz.tema==="Otro"){%> selected <%}%>>Otro</option>
			<option value="Humanidades" <%if (quiz.tema==="Humanidades"){%> selected <%}%>>Humanidades</option>
			<option value="Ocio" <%if (quiz.tema==="Ocio"){%> selected <%}%>>Ocio</option>
			<option value="Ciencia" <%if (quiz.tema==="Ciencia"){%> selected <%}%>>Ciencia</option>
			<option value="Tecnologia" <%if (quiz.tema==="Tecnologia"){%> selected <%}%>>Tecnología</option>
		</select></td>
	</tr>
	<tr>
		<td><a href="/quizes"><button type="button">Cancelar</button></a></td>
		<td><input type="submit" value="Guardar"></td>
		</td>
	</tr>
</table>